/*
COMP 135
gradecalculator.cass

*/

body
{
	font: 12pt "Century Gothic", "Helvetica", "Arial", sans-serif;
}

button
{
	font-size: 20pt;
	font-weight: bold;
	margin: 15px auto;
}

#container
{
	margin: auto;
	width: 700px;
}

fieldset
{
	background-color: #F0F0F0;
	float: left;
	height: 300px;
	margin-right: 15px;
	text-align: center;
}

h1, p
{
	margin: 5px;
	text-align: center;
}

#weightcol
{
	float: left;
	width: 100px;
	height: 300px;
	margin: 5px;
}

#posscol, #gradecol
{
	float: left;
	width: 100px;
	height: 300px;
	margin: 5px;
}

#calcbutton
{
	float: right;
	margin: auto;
	width: 600px;
}

#gradepercent
{
	width: 100px;
	height: 300px;
	margin: 5px;
}