/*
COMP 135
gradecalculator.cass
<link href="gradecalculator.css" rel="stylesheet">
*/
#results{
	background-color: #FFFFF0;
}
#dropassignment{
	background-color: #FAFAD2;
}
html{
	background-color: dimgrey;
}
body
{
	background-color: #FFFFF0;
	color: black;
	font: 14pt "Garamond", "Arial", sans-serif;
}
b.titlewords{
	color: black;
	font: "Garamond","Arial";
	font-size: 150%;
	text-transform: uppercase;
}
b.red{
	color:red;
}
#header{
	background-color: #FF8C00;
}

button
{
	font-size: 15pt;
	font-weight: bold;
	margin: 15px auto;
}

#container
{
	margin: auto;
	width: 750px;
}

fieldset
{
	background-color: #F0F0F0;
	float: left;
	height: 100%;
	margin-right: 15px;
	text-align: center;
}

h1, p
{
	margin: 5px;
	text-align: center;
}

#weightcol
{
	float: left;
	width: 100px;
	height: 100%;
	margin: 5px;
}

#posscol, #gradecol
{
	float: left;
	width: 100px;
	height: 100%;
	margin: 5px;
}

#calcbutton
{
	float: right;
	margin: auto;
	width: 50px;
}

#gradepercent
{
	width: 100px;
	height: 100%;
	margin: 5px;
	float: center;
}